@charset "utf-8";

/* background */

#BackgroundHome {
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*単位をvhにするとJSが動かない*/
    background-image: url("/Portfolio/common/img/bg_toppage.jpg");
    background-color: #4d1b1d;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section h3 {
    font-size: large;
    line-height: 3;
}

.Career p {
    margin: 1em 0;
}

@media screen and (max-width:760px) {
    #BackgroundHome {
        z-index: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        /*単位を%にすると型崩れする*/
        background-image: url("/Portfolio/common/img/bg_toppage_s.jpg");
        background-color: #4d1b1d;
        background-size: cover;
        background-position: top 100% left 50%;
        background-attachment: fixed;
    }
    /*スマホ：vhにしないと背景が型崩れする。
    %にしたら型崩れするがpixelで取得できるためJSは動く。 */
}