@charset "utf-8";

/* common */

body, html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    color: #000;
    font-family: 'Noto Sans JP', 'Josefin Sans', "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
    font-size: 113%;
    line-height: 2;
    background: #000;
}

h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd, form, figure, form {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    font-weight: normal;
}

ul {
    list-style-type: none;
}

ol {
    padding-left: 40px;
    padding-bottom: 15px;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    font-size: 100%;
    border-spacing: 0;
}

iframe {
    width: 100%;
}

mark {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, transparent), color-stop(40%, #FAA7AE));
    background: linear-gradient(transparent 40%, #FAA7AE 40%);
    color: inherit;
}


/* link common */

a {
    color: #666;
    -webkit-transition: .4s;
    transition: .4s;
}

a:hover {
    color: #b52654;
    text-decoration: none;
}


/* header */

#HeaderContent {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 9vh;
    background-image: url("../img/bg_header.jpg");
    background-repeat: repeat-x;
    background-attachment: fixed;
}


/*title PCver
-----------------------------------------------------------------*/

.TitleLogo {
    position: absolute;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    width: 450px;
    margin: 1.5% 0 0;
    transition: .3s linear;
    -webkit-transition: .3s linear;
}


/*スマホ用タイトルを表示させない*/

.TitleLogo-s {
    display: none;
}


/*menu PCver
-----------------------------------------------------------------*/

#Menubar {
    position: absolute;
    right: 5vh;
    top: 0;
    /*右からの隙間（TODO:一般的なサイトと同じように右側が切れるようにしたい）*/
    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 30px;
}

#Menubar ul {
    overflow: hidden;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    justify-content: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    list-style: none;
    line-height: 7vh;
}

#Menubar li a {
    text-decoration: none;
    color: #fff;
    float: left;
    padding: 0 5px;
    letter-spacing: 0.2em;
    margin: 0 20px;
    /*項目の間隔*/
    display: block;
}

#Menubar li a::after {
    content: '';
    width: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    border-bottom: 3px solid #fff;
    display: block;
}

#Menubar li a:hover::after {
    width: 100%;
}

#Menubar-s {
    display: none;
}

.Hmenu {
    display: none;
}


/*title, menu Resposive
-----------------------------------------------------------------*/

@media screen and (max-width:800px) {
    #Menubar-s {
        display: none;
        overflow: hidden;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        animation: menubar .5s both;
        -webkit-animation: menubar .5s both;
    }
    @keyframes menubar {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes menubar {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #Menubar-s ul {
        padding-top: 13vh;
    }
    #Menubar-s li a {
        display: inherit;
        text-decoration: none;
        margin: 3%;
        padding: 20px 3%;
        border: 1px solid #fff;
        color: #fff;
        font-size: 10px;
    }
    #Menubar {
        display: none;
    }
    /*タイトル*/
    .TitleLogo-s {
        position: absolute;
        display: block;
        width: 65vw;
        margin: 3%;
        transition: .3s linear;
        -webkit-transition: .3s linear;
    }
    .TitleLogo {
        display: none;
    }
    #PageTop {
        display: none;
    }
    #Rocket {
        display: none;
    }
    /*TODO:ハンバーガーメニュー*/
    /*空タグを使わないデザイン何か
    理想の動作→　https://www.ueshima-coffee-ten.jp/
    */
    .Hmenu {
        position: absolute;
        display: block;
        top: 1vh;
        right: 1.5vw;
    }
    /* ※　型崩れ
    .MenuAction-t {
        transform: translateY(50px) rotate(-45deg);
    }
    .MenuAction-c {
        display: none;
    }
    .MenuAction-b {
        transform: translateY(-50px) rotate(45deg);
    } */
}


/*-----------------------------------------------------------------*/

#Contents {
    z-index: 1;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding-top: 100vh !important;
}


/* articles */

.SectionBG {
    z-index: 2;
    background-color: rgba(0, 0, 0, .7);
    padding: .5%;
}

.SectionBG section {
    z-index: 3;
    width: 80%;
    margin: 1% auto 0;
    padding: 30px;
    background-image: url("../img/bg_article.jpg");
    background-size: cover;
    background-position: center;
}

.SectionBG section h2 {
    font-size: 2rem;
    font-weight: bold;
}


/* footer */

#Footer {
    padding: 3vh 3vw;
    background-color: #301113;
    color: white;
    font-size: .8em;
}

.FontColor {
    color: red;
    font-weight: bold;
}


/* animations */

.ScrollAnimation {
    transform: translateY(-200%);
    -webkit-transform: translateY(-200%);
}

#PageTop {
    z-index: 9;
    position: fixed;
    width: 123.5px;
    left: 85vw;
    bottom: -50vh;
    transition: .3s cubic-bezier(.4, 0, .2, 1);
    -webkit-transition: .3s cubic-bezier(.4, 0, .2, 1);
}

#Rocket {
    z-index: 10;
    position: fixed;
    width: 123.5px;
    left: 85vw;
    top: 100vh;
}

.PageTopAnimation {
    -webkit-animation: fly .5s linear;
    animation: fly .5s linear;
}

@-webkit-keyframes fly {
    0% {
        transform: translate(0, 0%);
        -webkit-transform: translate(0, 0%);
    }
    100% {
        transform: translate(0, -500%);
        -webkit-transform: translate(0, -500%);
    }
}

@keyframes fly {
    0% {
        transform: translate(0, 0%);
        -webkit-transform: translate(0, 0%);
    }
    100% {
        transform: translate(0, -500%);
        -webkit-transform: translate(0, -500%);
    }
}

.hideCat {
    display: none;
}


/* Scroll down animation */


/* https://www.nxworld.net/tips/css-scroll-down-button.html */

#DownButton {
    position: absolute;
    top: 85vh;
    left: 85vw;
    z-index: 8;
    text-decoration: none;
    animation: sdb 3s infinite;
    -webkit-animation: sdb 3s infinite;
}

@keyframes sdb {
    0% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        opacity: .5;
    }
    50% {
        transform: translateY(20%);
        -webkit-transform: translateY(20%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        opacity: .5;
    }
}

@-webkit-keyframes sdb {
    0% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        opacity: .5;
    }
    50% {
        transform: translateY(20%);
        -webkit-transform: translateY(20%);
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        opacity: .5;
    }
}

.SpiritMain {
    stroke: #9400d3;
    animation: sdb-color 6s infinite;
    -webkit-animation: sdb-color 6s infinite;
}

.SpiritInner {
    stroke: #9400d3;
    fill: #fff;
}

@keyframes sdb-color {
    0% {
        fill: #9400d3;
    }
    50% {
        fill: #c7a9d4;
    }
    100% {
        fill: #9400d3;
    }
}

@-webkit-keyframes sdb-color {
    0% {
        fill: #9400d3;
    }
    50% {
        fill: #c7a9d4;
    }
    100% {
        fill: #9400d3;
    }
}


/* google フォント
font-family: 'Noto Serif JP', serif;
font-family: 'IM Fell DW Pica', serif;
font-family: "Sawarabi Mincho";
*/