@charset "utf-8";

/* common */

body {
    font-family: 'Noto Serif JP', 'Noto Sans JP', 'Josefin Sans', 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic', 'Sans-Serif';
    font-size: 18px;
    font-size: 113%;
    line-height: 2;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
}

ol, ul {
    list-style: none;
}

img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    /* vertical-align: middle; */
    margin: 0 auto;
}

iframe {
    width: 100%;
}


/* link common */

a {
    color: #666;
    -webkit-transition: .4s;
    transition: .4s;
}

a:hover {
    color: #b52654;
    text-decoration: none;
}


/* "Works" articles style */

.LinkBox {
    display: block;
    padding: .5em;
    margin: 1em auto;
    width: 90%;
    background: rgba(253, 214, 209, .3);
    border-left: solid 6px #fdd6d1;
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, .33);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .33);
}

.TableDesign {
    border: 1px solid #fdd6d1;
    border-collapse: collapse;
    border-color: #fdd6d1;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    table-layout: fixed;
    color: #000;
}

.TableDesign tr {
    background-color: #fff;
    padding: .35em;
    border-bottom: 1px solid #fdd6d1;
}

.TableDesign tr:last-child {
    border-bottom: none
}

.TableDesign th {
    padding: 1em 10px 1em .5em;
    /*[上][右][下][左]*/
    width: 30%;
    border-right: 1px solid #fdd6d1;
}

.TableDesign td {
    padding: 1em 10px 1em .5em;
    border-right: 1px solid #fdd6d1;
}

.TableDesign th:last-child, .TableDesign td:last-child {
    border: none;
}

.TableDesign tbody th {
    color: #b52654;
}


/* header */

#HeaderContent {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 9vh;
    background-image: url('../img/bg_header.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
}


/*■ PC site
-----------------------------------------------------------------*/


/*Title -----------------------------------------------------*/

.TitleLogo {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 40vw;
    margin: 1.5% 3% 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}


/*スマホ用タイトルを表示させない*/

.TitleLogo-s {
    display: none;
}


/*Menu -----------------------------------------------------*/

#Menubar {
    position: absolute;
    right: 3vh;
    top: 0;
    /*右からの隙間（TODO:一般的なサイトと同じように右側が切れるようにしたい）*/
    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 35px;
    font-weight: 300;
}

#Menubar ul {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    list-style: none;
    line-height: 7vh;
}

#Menubar li a {
    text-decoration: none;
    color: #fff;
    float: left;
    padding: 0 5px;
    letter-spacing: 0.2em;
    margin: 0 20px;
    /*項目の間隔*/
    display: block;
}

#Menubar li a::after {
    content: '';
    width: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-bottom: 3px solid #fff;
    display: block;
}

#Menubar li a:hover::after {
    width: 100%;
}

#Menubar-s {
    display: none;
}

.Hmenu {
    display: none;
}


/*Articles -----------------------------------------------------*/

#Contents {
    z-index: 1;
    position: relative;
    /*ウィンドウ幅100%（vw, vh）で指定するとスクロールイベントが動かない*/
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 100vh !important;
}

.SectionBG {
    z-index: 2;
    background-color: rgba(0, 0, 0, .7);
    padding: .5%;
}

.SectionBG section {
    z-index: 3;
    width: 80%;
    margin: 1% auto 0;
    padding: 30px 10%;
    background-image: url('../img/bg_article.jpg');
    background-size: cover;
    background-position: center;
}

.SectionBG section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #301113;
    background-image: url('../img/bg_midashi.png');
    padding: 0 5%;
}


/*Footer -----------------------------------------------------*/

#Footer {
    padding: 3vh 3vw;
    background-color: #301113;
    color: white;
    font-size: .8em;
    font-weight: 50;
}

.FontColor {
    color: red;
    font-weight: bold;
}


/*Animations -----------------------------------------------------*/

.ScrollAnimation {
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
}

#PageTop {
    z-index: 9;
    position: fixed;
    width: 123.5px;
    right: 3vw;
    bottom: -55vh;
    -webkit-transition: .3s cubic-bezier(.4, 0, .2, 1);
    transition: .3s cubic-bezier(.4, 0, .2, 1);
}

#Rocket {
    z-index: 10;
    position: fixed;
    width: 123.5px;
    right: 3vw;
    top: 100vh;
}

.PageTopAnimation {
    -webkit-animation: fly .5s linear;
    animation: fly .5s linear;
}

@-webkit-keyframes fly {
    0% {
        transform: translate(0, 0%);
        -webkit-transform: translate(0, 0%);
    }
    100% {
        transform: translate(0, -1000%);
        -webkit-transform: translate(0, -1000%);
        opacity: 0;
    }
}

@keyframes fly {
    0% {
        transform: translate(0, 0%);
        -webkit-transform: translate(0, 0%);
    }
    100% {
        transform: translate(0, -1000%);
        -webkit-transform: translate(0, -1000%);
        opacity: 0;
    }
}

.hideCat {
    display: none;
}


/* Scroll down animation */


/* https://www.nxworld.net/tips/css-scroll-down-button.html */

#DownButton {
    position: absolute;
    top: 75vh;
    right: 5vw;
    z-index: 8;
    text-decoration: none;
    -webkit-animation: sdb 3s infinite;
    animation: sdb 3s infinite;
}

@-webkit-keyframes sdb {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: .5;
    }
    50% {
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: .5;
    }
}

@keyframes sdb {
    0% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: .5;
    }
    50% {
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: .5;
    }
}

.SpiritMain {
    stroke: #9400d3;
    -webkit-animation: sdb-color 6s infinite;
    animation: sdb-color 6s infinite;
}

.SpiritInner {
    stroke: #9400d3;
    fill: #fff;
}

@-webkit-keyframes sdb-color {
    0% {
        fill: #9400d3;
    }
    50% {
        fill: #c7a9d4;
    }
    100% {
        fill: #9400d3;
    }
}

@keyframes sdb-color {
    0% {
        fill: #9400d3;
    }
    50% {
        fill: #c7a9d4;
    }
    100% {
        fill: #9400d3;
    }
}


/*■ Resposive
-----------------------------------------------------------------*/

@media screen and (max-width:760px) {
    body {
        font-size: 16px;
        font-size: 100%;
        line-height: 2;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 24px;
        font-size: 67%;
        line-height: 1.2;
    }
    /* "Works" articles style */
    .TableDesign {
        border: 1px solid #fdd6d1;
        width: 100%;
        font-size: 12px;
    }
    .TableDesign th {
        display: block;
        border-right: none;
        border-bottom: 5px solid #b52654;
        padding-bottom: .4em;
        margin-bottom: .4em;
    }
    .TableDesign tr {
        display: block;
        /* margin-bottom: 2em; */
    }
    .TableDesign td {
        border-bottom: 1px solid #fdd6d1;
        display: block;
        font-size: .8em;
        text-align: right;
        position: relative;
        padding: .625em .625em .625em 4em;
        border-right: none;
    }
    .TableDesign td::before {
        content: attr(data-label);
        font-weight: bold;
        position: absolute;
        left: 10px;
    }
    .TableDesign td:last-child {
        border-bottom: 0;
    }
    /* Menu -----------------------------------------------------*/
    #Menubar-s {
        display: none;
        overflow: hidden;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        -webkit-animation: menubar .5s both;
        animation: menubar .5s both;
    }
    @-webkit-keyframes menubar {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes menubar {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #Menubar-s ul {
        padding-top: 13vh;
    }
    #Menubar-s li a {
        display: inherit;
        text-decoration: none;
        margin: 3%;
        padding: 20px 3%;
        border: 1px solid #fff;
        color: #fff;
        font-size: 10px;
    }
    #Menubar {
        display: none;
    }
    /*Title -----------------------------------------------------*/
    .TitleLogo-s {
        position: absolute;
        display: block;
        width: 40vw;
        margin: 3%;
        -webkit-transition: .3s linear;
        transition: .3s linear;
    }
    .TitleLogo {
        display: none;
    }
    #PageTop {
        display: none;
    }
    #Rocket {
        display: none;
    }
    /*Hamburger Menu -----------------------------------------------------*/
    .Hmenu {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        top: 1vh;
        right: 1.5vw;
        margin: 1%;
    }
    #HamburgerOpen {
        display: block;
    }
    #HamburgerClose {
        display: none;
        -webkit-animation: RotateX .3s linear;
        animation: RotateX .3s linear;
    }
    @-webkit-keyframes RotateX {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    @keyframes RotateX {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
    /*Articles -----------------------------------------------------*/
    .SectionBG section {
        width: 95%;
        margin: 1% auto 0;
        padding: 20px;
    }
    .SectionBG section h2 {
        font-size: 1.3rem;
        line-height: 2;
        font-weight: bold;
        color: #301113;
        background-image: url('../img/bg_midashi.png');
        padding: 0 5%;
    }
}


/* google フォント
font-family: 'Noto Serif JP', serif;
font-family: 'IM Fell DW Pica', serif;
*/