@charset "utf-8";

/* background */

#BackgroundWorks {
    z-index: 0;
    display: block;
    min-width: 100%;
    min-height: 100vh;
    left: 0;
    bottom: 0;
    background-image: url("/Portfolio/common/img/bg_works.jpg");
    background-color: #4d1b1d;
    background-size: cover;
    background-position: center 75%;
    background-attachment: fixed;
}